* {
    box-sizing: border-box;
}
nav{
    transition: top 0.3s;
    position: fixed;
    top: 0;
    width: 100%;
}
ul{
    display: flex;
    background-color: black;
    color: white;
    margin: 0;
    list-style-type: none;
    padding: 10pt;
    align-items: center;
}
ul:nth-child(1){
    padding:0;
}
.nav-bar{
    flex-grow: 0.4;
}
nav{
    display: flex;
    background-color: black;
    color: white;
    flex: 1 1 auto;
    margin: 0;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
a{
    text-decoration: none;
    color:#cccc00;
}
a:hover {
    text-decoration:underline;
}
.item{
    flex: 1;
    text-align: center;
}

.logout{
    flex: 1;
    text-align: right;
    width: 200px;
    /* margin-left: auto;
    margin-right: auto; */
}
.logoHome{
    flex: 1;
    /* text-align: left; */
}

.hidden{
    display: none;
}
.burger .line1, .line2, .line3
{
    width: 30px;
    height: 4px;
    background-color: #cccc00;
    margin: 5px;
    border-radius:2px;
    transition: all 1s ease;
}
.burger{
    padding: 3px;
    display: none;
    margin: 9px;
    cursor: pointer;
    transition: all 1s ease;
}
/* media */
@media (max-width: 948px)
{
    .logout{
        display: none;
    }
    .burger{
        display: inline;
    }
    .hidden a{
        display: block;
        position: relative;
        text-align: center;
    }
    .nav-bar{
        position: absolute;
        right: 0px;
        height: 70vh;
        top: 8vh;
        background-color: black;
        padding-top: 1%;
        padding-bottom: 1%;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        width: 50%; 
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        margin-left: 0px;
    }

    .nav-bar li{
        display: block;
        position: relative;
        margin-top: 5%;
        margin-bottom: 5%;
        align-items: center;
    }
    .nav-bar a{
        align-items: center;
        text-shadow: 2px 2px 4px #6b6b6b;
    }
    .nav-bar a:hover{
        text-shadow: none;
    }

    .desktop a{
        display: none;
    }
   
    .nav_active{
        transform: translateX(0%);
    }
}
/* animation */
@keyframes navLinkFade
{
    from
    {
        opacity: 0;
        transform: translateX(50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}
.open .line2 {
    background-color: #cccc00;
    transform: translateX(50px);
    opacity: 0;
  }
.open .line1 {
    background-color: #cccc00;
    transform: rotate(45deg) translateY(12.5px);
  }
.open .line3 {
    background-color: #cccc00;
    transform: rotate(-45deg) translateY(-12.5px);
  }
