
#wrapper{
    
    background-color: #cccc00;
}

#centered{
    max-width: 350px;
}

input {
    font-weight: 400;
    box-shadow: 1.5pt 1.5pt 5pt rgba(0,0,0,.5);
    border-style: solid;
    border-color: white;
    border-width: 1px;
    outline: none;
    height: 48px;
    width: 100%;
    position: relative;
}
input:hover{
    border-color: black;
}
input:focus{
    border-color: black;
}
span{
    position: absolute;
}
.entry{
    margin-top: 10pt;
    margin-bottom: 5pt;
}