/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 103%;
    box-sizing: border-box;
}

body{
    margin: 0px !important;
    background-color: white;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

#centered{
    text-align: center;
    position: absolute; 
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.logo {
    margin: auto;
    display: block;
    text-indent: -9999px;
    width: 280px;
    height: 150px;
    background: url(images/PictlLogo.svg);
    background-size:  280px 150px;
    background-repeat: no-repeat;
}
.logoHome{
    display: block;
    text-indent: -9999px;
    width: 200px;
    height: 100px;
    background: url(images/PictlLogoYellow.svg);
    background-size:  200px 100px;
    background-repeat: no-repeat;
}
button{
    cursor: pointer;
    margin-bottom: 5pt;
    margin-top: 5pt;
}

.error{
    font-size: 1rem !important;
    text-align: left;
    margin-top: 5pt;
}

.login-btn, .signup-btn{
    border: 0px !important;
    height: 50px;
    width: 100%;
    outline: none;
}

.login-btn{
    transition-delay: background-color 0.5s ease;
    color: black;
    background-color: #cccc33d3;
    border-style: solid;
    box-shadow: 1.5pt 1.5pt 5pt rgba(0,0,0,.5);
    
}
.login-btn:active{
    border-color: white;
}
.login-btn:hover{
    border-style: none;
    background-color:#cc993355;
}
.signup-btn{
    color: #cccc33d3;
    background-color: black;
    border-style: solid;
    box-shadow: 1.5pt 1.5pt 5pt rgba(0,0,0,.6);
}

.signup-btn:active{
    border-color: white;
}

.signup-btn:hover{
    background-color: rgb(26, 26, 26);
    border-style: none;
}


