
    
    <div class="center_feed">
        <div class="feed_container">
            <div class="feed">
                <div class="home-info">
                    <div>
                        <p>Welcome Velislav!</p>
                        <div *ngIf="loading" class="loader"></div>
                        <ul *ngIf="user">
                            <li>Welcome {{user.firstName}}!</li>
                        </ul>
                    </div>
                </div>
                <!-- Photo Grid -->
                <div class="row"> 
                    <div class="column">
                    <img src="https://blogs.gartner.com/debbie_wilson/files/2019/10/horse.jpg" style="width:100%">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg" style="width:100%">
                    <img src="https://static.posters.cz/image/750/image/750/glass-art/lake-pier-100x75-cm-i57013.jpg" style="width:100%">
                    <img src="https://media.wired.com/photos/5926605ef3e2356fd800909d/191:100/w_1200,h_630,c_limit/EruptingVolcanoHP_GettyImages-142924771.jpg" style="width:100%">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg" style="width:100%">
                    <img src="https://static.posters.cz/image/750/image/750/glass-art/lake-pier-100x75-cm-i57013.jpg" style="width:100%">
                    <img src="https://media.wired.com/photos/5926605ef3e2356fd800909d/191:100/w_1200,h_630,c_limit/EruptingVolcanoHP_GettyImages-142924771.jpg" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg" style="width:100%">
                        <img src="https://static.posters.cz/image/750/image/750/glass-art/lake-pier-100x75-cm-i57013.jpg" style="width:100%">
                        <img src="https://media.wired.com/photos/5926605ef3e2356fd800909d/191:100/w_1200,h_630,c_limit/EruptingVolcanoHP_GettyImages-142924771.jpg" style="width:100%">
                        <img src="https://media.wired.com/photos/5926605ef3e2356fd800909d/191:100/w_1200,h_630,c_limit/EruptingVolcanoHP_GettyImages-142924771.jpg" style="width:100%">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg" style="width:100%">
                        <img src="https://static.posters.cz/image/750/image/750/glass-art/lake-pier-100x75-cm-i57013.jpg" style="width:100%">
                        <img src="https://media.wired.com/photos/5926605ef3e2356fd800909d/191:100/w_1200,h_630,c_limit/EruptingVolcanoHP_GettyImages-142924771.jpg" style="width:100%">
                    </div>  
                    <div class="column">
                        <img src="https://blogs.gartner.com/debbie_wilson/files/2019/10/horse.jpg" style="width:100%">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg" style="width:100%">
                        <img src="https://static.posters.cz/image/750/image/750/glass-art/lake-pier-100x75-cm-i57013.jpg" style="width:100%">
                        <img src="https://blogs.gartner.com/debbie_wilson/files/2019/10/horse.jpg" style="width:100%">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg" style="width:100%">
                        <img src="https://static.posters.cz/image/750/image/750/glass-art/lake-pier-100x75-cm-i57013.jpg" style="width:100%">
                        <img src="https://media.wired.com/photos/5926605ef3e2356fd800909d/191:100/w_1200,h_630,c_limit/EruptingVolcanoHP_GettyImages-142924771.jpg" style="width:100%">
                       
                    </div>
                </div>
            </div>
        </div>    
    </div> 
    