    <div class="center_feed">
        <div class="feed_container">
            <div class="feed">
                <div class="home-info">       
                        <div *ngIf="loading" class="loader"></div>
                        <ul *ngIf="user">
                            <li>Welcome {{user.firstName}}!</li>
                        </ul>
                </div>
                <!-- Photo Grid -->
                <div class="row">  
                    <div class="column">
                        <div class="post"> 
                            <h1>@velislav</h1>  
                            <img src="https://static.posters.cz/image/750/image/750/glass-art/lake-pier-100x75-cm-i57013.jpg" style="width:100%">
                            <div class="like-box">
                            <button class="like" (click)="like()"></button>
                            <span calss="counter">0 likes</span> 
                            </div>
                            <div class="categories">
                                <span class="tag">nature</span>
                                <span class="tag">lake</span>
                            </div>
                            <span class="time">23:09 10.12.2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div> 
    